.side-menu {
    background-color: #7DB4B5;
    width: 14%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25%;
}

.button-container.dropdown {
    width: 97%;
    margin: 0 !important;
}