@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.page-container {
  width: 100%;
  display: flex;
  height: 90%;
  position: fixed;
}

hr {
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
  margin-top: 30px;
}

hr:after {
  display: block;
  content: '';
  height: 30px;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}

.main-container {
  height: 100%;
  width: 100%;
  display: block;
}

.title-container {
  padding: 30px 0 35px 35px;
  height: 12%;
}

.page-title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 2em;
  color: #4E4E4E;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.pad20 {
  padding: 20px;
}

form label {
  margin-left: 20px;
  width: 150px;
  vertical-align: middle;
  color: #4E4E4E;
}

.field {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

.main {
  background-color: #F5F5F5;
  padding: 20px;
  height: 88%;

  display: flex;
  flex-direction: column;
}

tr:nth-child(even) {
  background-color: #cddcdd
}

tr:nth-child(odd) {
  background-color: #fffafa
}

tr:hover {background-color: #dedaee;}

th,
td {
  text-align: center;
  padding: 8px;
}

table {
  border-collapse: collapse;
  overflow: hidden;
}

.table-wrapper {
  margin: 30px 20px;
  overflow: auto;
  max-height: 85%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  border-radius: 10px;
}

.table-wrapper table thead th {
  position: sticky;
  top: 0;
  background-color: #04AA6D;
  color: white;
}

.align-left {
  text-align: left;
}

.width10 {
  width: 10%;
}









.table-storage {
  padding: 0 20px;
}

.widt15 {
  width: 15%;
}

.width25 {
  width: 25%;
}

.width40 {
  width: 40%;
}